body{
	background-color: rgba(36, 35, 7, 0.747);
}
.audio-player{
	max-width:360px;
  width:90%;
  background-color: darkolivegreen;
  margin:0 auto 0;
  border-radius: 2%;
}
.cover {
  padding:0;
  margin:0;
  opacity: .5;
  z-index: -1;

}

.cover img {
  width:100%;
}

h2, h3{
	color:black;
}

.textbook{
	max-width: 900px;
	width:100%;
	clear:both;
	text-align: center;
	margin-top:50px;
	padding:0;
}

.clearfix { clear: both; }


.volume-container{

  width:95%;
 
margin-left:10px;
}
.volume-container > *{
  width:20%;
  height:10px;
  appearance: none !important;
  background-color: rgba(58, 57, 57, 0.281)
}

#buttons {
  display: block;
  width: 100%;
  font-size:50px;
  text-align:center;
 margin:0px auto 10px;
}

button#play {
  width:30%;
}

button#pause {
  width:30%;
}

button#prev {
  width:30%;
}

button#next {
  width:30%;
}


#progress-bar {
 
background-color:black;
height:10px;
margin:5px;

}

#seeker {
  display:inline-block;

background-color:red;
height:10px;
margin-bottom:10px;

}

.time-container{
text-align: center;
overflow: auto;
}

#duration {
 float: right;
  padding: 4px 8px;
  border-radius: 5px;
  background: #000;
  color:white;
  margin-right:10px;
}

#current-time {
  float: left;
  padding: 4px 8px;
  border-radius: 5px;
  background: #000;
  color:white;
  margin-left:10px;
}

#playlist {
  list-style: none;
  width:100%;
 
}

#playlist li {
  display:inline-block; 
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border:10px solid black;

}

#playlist li.active {
  background: rgb(102, 102, 102);
  text-decoration: underline;
}
